.developer-settings {
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: none;
    color: black;
}

@media (prefers-color-scheme: dark) {
    .developer-settings {
        color: white;
    }
}
