accepted = [
    "Apache-2.0",
    "MIT",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "MPL-2.0",
    "Unicode-3.0",
    "NCSA",
    "ISC",
    "Zlib",
    "MPL-2.0",
    "GPL-2.0",
    "GPL-3.0",
    "CC0-1.0",
    "bzip2-1.0.6",
    "Apache-2.0 WITH LLVM-exception"
]
