.left_pane {
    min-width: 250px;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    justify-content: left;
    display: flex;
    text-align: center;
    background-color: #ffffff;

    [id^="vertical-tabpanel"] {
        width: 100%;
        height: 100%;
    }
}

.sidebar {
    background-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {

    .left_pane {
        background-color: black;
    }

    .sidebar {
        background-color: #2f2f2f;
    }
}
