.left_pane {
    min-width: 208px;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    justify-content: left;
    display: flex;
    text-align: center;
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {

    .left_pane {
        background-color: black;
    }
}
