.control_slider {
    height: 28px;
    margin: 2px 20px;
    display: grid;
    grid-template-areas: "slider slider-output";
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
}

.slider_output {
    width: auto;
    min-width: 5em;
    margin-left: 10px;
    grid-area: "slider-output";
}
