.file_list {
    height: auto;
    overflow: auto;
}

@media (prefers-color-scheme: dark) {
    .file_list {
        .MuiListItemButton-root.Mui-selected {
            background-color: rgba(136, 136, 136, 0.5);
        }

        .MuiListItemButton-root:hover {
            background-color: rgba(136, 136, 136, 0.30);
        }
    }
}
