body {
  margin: 0;
}

:root {
  font-family: "Noto Sans CJK JP", "Noto Sans JP";
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: table;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container button {
  color: black;
  cursor: pointer;
}

button:hover {
  outline: 1px solid cornflowerblue;
  border-radius: 0%;
}

.main_view {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .container button {
    color: white;
  }
}
