name: Build application

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-application:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-latest'
          - platform: 'windows-latest'

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout merged branch
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Setup rustup
        run: |
          cargo install cargo-about

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install frontend dependencies
        run: yarn install

      - name: Build and upload artifacts.
        uses: tauri-apps/tauri-action@dev # use dev to upload artifacts.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          uploadWorkflowArtifacts: true
